%h2 Resultados da analise bullshistica
%p#text  
  = @text 


%p
  = "Seu texto contem um teor de <strong>#{@rate}</strong> bullshits"
  
%p 
  = link_to "Verificar a bullshitagem de outro texto" , new_rating_path 