%h2 Avalie meu texto


%form{:action => "/ratings", :method => "post"} 
  %dl 
    %dt 
      %label Texto
    %dd 
      %textarea{:name => "text"} 
    %dt 
      %label Submit
    %dd 
      %input{:type => "submit"} 



