%h2 Avalie meu texto

%form{:action => "/ratings", :method => "post"} 
    
  %label{:for => "text"}   
  %textarea{:name => "text", :id => "text"} 
  %label{:for => "submit"}  
  %input{:type => "submit", :id => "submit", :value => "Checar bullshitagem"} 



